.pokemonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    .pokemonsLoading{
        color: #fff;
        font-size: 2vw;
        img{
            width: 20vw
        }
    }
}