
.filterContainerAnimation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: 23vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.886);
    box-shadow: inset 0vh 0vh 5vh 0.2vh  #005c7c;
    border-bottom-right-radius: 1vh;
    animation: fadeInUp 0.5s ease ;
    animation-fill-mode: both;
    .optionFilter{
        background-color: #000;
        color: #fff; 
    }
    .filterElement1{
        grid-column: 1 / 4;
        // background-color: beige;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 2vh;
        align-items: center;
        padding: 1vw;
        select{
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border: none;
            border-radius: 1vh;
            font-size: 0.9vw;
            padding: 0.9vh;
            outline: none;
            text-transform: uppercase;
            box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
        }
        select:hover{
            box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
        }
        input{
            border: none;
            border-radius: 1vh;
            font-size: 0.9vw;
            padding: 1vh;
            outline: none;
            background-color: transparent;
            color: #fff;
            width: 8vw;
            box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
        }::placeholder{
            color: #fff;
            font-style: italic;
        }
        input:focus{
            width: 5vw;
        }
        input:hover{
            box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
        }
    }
    .filterElement2{
        grid-column: 1 / 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 2vh;
        align-items: center;
        padding: 1vw;
        select{
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border: none;
            border-radius: 1vh;
            font-size: 0.9vw;
            padding: 0.9vh;
            outline: none;
            text-transform: uppercase;
            box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
        }
        select:hover{
            box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
        }
    }
    .filterElement3{
        grid-column: 1 / 4;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 1vw;
        gap: 2vh;
        select{
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border: none;
            border-radius: 1vh;
            font-size: 0.9vw;
            padding: 0.9vh;
            outline: none;
            text-transform: uppercase;
            box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
        }
        select:hover{
            box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
        }
    }
    .filterElement4{
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        button{
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border: none;
            border-radius: 1vh;
            font-size: 0.9vw;
            padding: 0.9vh;
            outline: none;
            text-transform: uppercase;
            box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
        }
        button:hover{
            box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
        }
    }
}

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(3vh); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 