.form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    
    .formSection1{
        grid-column: 1 / 5;
        position: fixed;
        width: 100vw;
        top: 0vh;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(4rem, auto);
        // background-image: url(https://i.pinimg.com/originals/77/b6/33/77b633134f73d7b7e5d0c83df1edf863.gif);
        .formPoligon1{
            grid-column: 1 / 5;
            box-shadow: inset 0vh 0vh 4vh -1vh  #4f9, inset 0vh 0vh 2.5vh 0vh  #005c7c;
            background-image: url(https://c.tenor.com/6ZUs587t-_YAAAAC/blue-heart-black.gif);
            min-height: calc(15vh);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 60% 50%, 40% 50%, 30% 100%, 0 100%);
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            .formPoligon1Element1{
                grid-column: 1 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1vh;
                button{
                    cursor: pointer;
                    background-color: transparent;
                    color: #fff;
                    border: none;
                    border-radius: 1vh;
                    font-size: 1vw;
                    padding: 0.9vh;
                    outline: none;
                    text-transform: uppercase;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                    &:hover{
                        box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
                    }
                }
            }
            .formPoligon1Element2{
                grid-column: 2 / 3;
                padding-top: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                img{
                    position: relative;
                    left: 1.2vw;
                    width: 4vw;
                    cursor: pointer;
                    
                }
                button{
                    margin-top: 1.8vh;
                    border: none;
                    font-size: 1vw;
                    font-weight: bold;
                    border-top-right-radius: 1vh;
                    background-color: transparent;
                    color: #fff;
                    padding: 1vh;
                    cursor: pointer;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                }
            }
            .formPoligon1Element3{
                grid-column: 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1vh;
                button{
                    cursor: pointer;
                    background-color: transparent;
                    color: #fff;
                    border: none;
                    border-radius: 1vh;
                    font-size: 1vw;
                    padding: 0.9vh;
                    outline: none;
                    text-transform: uppercase;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                    &:hover{
                        box-shadow:  0vh 0vh 1vh 0.5vh  #fff;
                    }
                }
            }
        }
    }
    .formSection2{
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        box-shadow: inset 0vh 0vh 8vh 0vh #005c7c;
        height: 100vh;
        background-image: linear-gradient( to top right, #1cedae, #c501e2);
        .formSection2El1{
            grid-column: 1 / 5;
            display: flex;
            // padding-top: 8vh;
            justify-content: center;
            align-items: center;
            // background-color: #fff;
            img{
                width: 38vw;
            }
        }
        .formSection2El2{
            grid-column: 5 / 8;
            // background-color: #005c7c;
            display: flex;
            justify-content: right;
            align-items: center;
            .formCard{
                margin-top: 3vh;
                height: 65vh;
                width: 60vw;
                border-radius: 1vw;
                background-color: rgba(0, 0, 0, 0.92);
                box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: 3vh;
                padding-top: 0vh;
                .formCardItem1{
                    grid-column: 1 / 5;
                    display: flex;
                    justify-content: center;
                    font-size: 2vw;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .formCardItem2, .formCardItem3, .formCardItem4,
                .formCardItem7, .formCardItem8, .formCardItem9, .formCardItem0{
                    display: flex;
                    justify-content: center;
                    font-size: 2.2vh;
                    div{
                        font-size: 2vh;
                    }
                }
                .formCardItem5{
                    grid-column: 1 / 3;
                    display: flex;
                    justify-content: center;
                    font-size: 2.2vh;
                    div{
                        font-size: 2vh;
                    }
                    span{
                        span{
                            position: relative;
                            button{
                                cursor: pointer;
                                height: 2.2vh;
                                width: 2.2vh;
                                border-radius: 50%;
                                font-size: 2.2vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                position: absolute;
                                top: 20%;
                                right: -2vh;
                                background-color: #c501e2;
                            }
                        }
                    }
                    text-transform: capitalize;
                }
                .formCardItem6{
                    grid-column: 3 / 5;
                    display: flex;
                    justify-content: center;
                    font-size: 2.2vh;
                    div{
                        font-size: 2vh;
                    }
                    span{
                        span{
                            position: relative;
                            button{
                                cursor: pointer;
                                height: 2.2vh;
                                width: 2.2vh;
                                border-radius: 50%;
                                font-size: 2.2vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                position: absolute;
                                top: 20%;
                                right: -2vh;
                                background-color: #c501e2;
                            }
                        }
                    }
                    text-transform: capitalize;
                }
                div{
                    color: #fff;
                    display: flex;
                    justify-content: left;
                    span{
                        display: flex;
                        flex-direction: column;
                        // background-color: #005c7c;
                        div{
                            font-size: 0.8vw;
                            font-weight: bold;
                            font-style: oblique;
                            text-transform: uppercase;
                            display: flex;
                            align-items: center;
                            // background-color: #c501e2;
                        }
                        button{
                            background-color: transparent;
                            border: none;
                            svg{
                                font-size: 4vh;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .formSection3{
        grid-column: 1 / 5;
        position: fixed;
        width: 100vw;
        z-index: 2;
        bottom: 0vh;
        // background-image: url(https://i.pinimg.com/originals/77/b6/33/77b633134f73d7b7e5d0c83df1edf863.gif);
        .formPoligon2{
            box-shadow: inset 0vh 0vh 4vh -1vh  #4f9, inset 0vh 0vh 2.5vh 0vh  #005c7c;;
            background-image: url(https://c.tenor.com/6ZUs587t-_YAAAAC/blue-heart-black.gif);
            min-height: calc(12vh);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 70% 0, 60% 50%, 40% 50%, 30% 0);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            .formPol2Element1{
                grid-column: 1 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 12vw;
                    border: none;
                    border-radius: 1vh;
                    font-size: 1vw;
                    padding: 0.8vh;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                }::placeholder{
                    color: #fff;
                }:focus{
                    width: 10vh;
                }
            }
            .formPol2Element2{
                grid-column: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img{
                    position: relative;
                    left: 0.9vw;
                    width: 4vw;
                    cursor: pointer;
                    
                }
                button{
                    margin-top: 1vh;
                    border: none;
                    font-size: 1vw;
                    font-weight: bold;
                    border-top-right-radius: 1vh;
                    background-color: transparent;
                    color: #fff;
                    padding: 1vh;
                    padding-left: 2vh;
                    cursor: pointer;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                }
            }
            .formPol2Element3{
                grid-column: 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1vw;
                input{
                    width: 10vw;
                    border: none;
                    border-radius: 1vh;
                    font-size: 1vw;
                    padding: 0.8vh;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    box-shadow: inset 0vh 0vh 2.5vh 0.5vh  #005c7c;
                }::placeholder{
                    color: #fff;
                }:focus{
                    width: 10vh;
                }
            }
        }
    }
}